<?xml version="1.0"?>
<model>
  <name>Autopia Ground</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Votre Nom</name>
    <email>votre.email@exemple.com</email>
  </author>

  <description>
    Le sol de la ville Autopia (20x20m) concu pour la simulation du robot QCar 2.
  </description>
</model>